$yellow-logo: #e8ba00;
.App {
    text-align: center;
  }
  .App-logo {
    height: 30vmin;
    background-repeat: no-repeat;
    height: 40vmin;
    background-image: url('../img/logoBurger.png');
  }
  .Width-product {
    width: 100px;
    height: 100px;
  }
  .App-header {
    background-color: $yellow-logo;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #09d3ac;
  }
  
  .Flex {
    display: flex;
    justify-content: space-around;
  }