$red-logo: #cf1717;
$orange-logo: #f0900a;
$yellow-logo: #e8ba00;
$text-color: white;
$font-button: 15px;
$spacing: 2px;
$pointer: pointer;

body {
  min-height: 100vh;
  background: black;
}
.App, div {
    text-align: center;
  }
  .App-logo {
    height: 30vmin;
    background-repeat: no-repeat;
    height: 40vmin;
    background-image: url('../img/logoBurger.png');
  }
  .Width-product {
    width: 100px;
    height: 100px;
  }
  .App-header {
    background-color: $yellow-logo;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color:$text-color;
  }
  
  .App-link {
    color: #09d3ac;
  }
  
  .Flex {
    display: flex;
    justify-content: space-between;
  }
  .Flex-header {
    display: flex;
    // justify-content: center;
    background: $yellow-logo;
  }
  .Scroll {
    overflow: scroll;
    text-align: center;
    height: 440px;
     div {
      width: 40%;
      height: 190px;
      display: inline-block;
      margin: 5px;
      border: 1px solid grey;
      vertical-align: text-bottom;
      text-align: -webkit-center;
      cursor: $pointer;
     }
  }
  table {
    margin-top: $font-button;
    td th {
      text-align: left;
      vertical-align: top;
      border-collapse: collapse;
    }
    i {
      color: #e8ba00;
      cursor: $pointer;
    }
  }
  
  .Order {
    background: black;
    color: $text-color;
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    div {
      display: flex;
      justify-content: space-around;
    }
  }
  p {
    margin: 0;
  }
  .price {
    background: #cf1717;
    width: fit-content;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 50%;
  }
  .name {
    padding: 5px;
    font-size: 15px;
    height: 40px;
    color: #403938;
    font-weight: bold;
  }
  h2, label {
    color: $text-color;
  }
  input {
    width: 50%;
    border-style: none;
    padding: 3px;
  }
  .menu {
    width: 50%;
    background: $text-color;
  }
  th, thead tr td {
    border-bottom-style: ridge;
    font-weight: bold;
    font-size: smaller;
  }
  /* buttons */
  @mixin buttons($padding, $color) {
    padding: $padding;
    background: $color;
    border-radius: $padding/2;
    font-size: $padding*1.5;
  }
  .buttonApp {
    @include buttons(10px,$red-logo);
    color: $text-color;
    cursor: $pointer;
  }
  @mixin buttons-order($color, $background, $font) {
    background: $background;
    color: $color;
    font-size: $font;
    padding: 5px;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 50%;
    // font-weight: bold;
  }
  .Total {
    @include buttons-order($text-color,$red-logo ,$font-button*2);
    left: 0;
  }
  .Send {
    @include buttons-order(black, $yellow-logo ,25px );
    right: 0;
    border-style: none;
    height: 50px;
    cursor: $pointer;
    &:not(:disabled):hover {
      background: $yellow-logo;
      color: $text-color;
      font-weight: bold;
    }
    &:disabled {
      background: #ddd;
    }
  }
.Status {
  @extend .Order;
  display: inline-flex;
  margin: 10px;
  width: 47%;
  background: #393a40;
  h2 {
    margin: 30px 0 0px 0;
    color: $yellow-logo;
  }
  p{
    margin: 0 10px;
    width: fit-content;
    
    span {
      color: $yellow-logo;
      font-weight: 300;
    }
  }
  button {
    position: absolute;
    top: 0;
    background: #cf1717;
    border-style: none;
    color: white;
    padding: 8px;
  }
  .tot {
    margin: 0;
    width: auto;
    padding: 5px;
    border-top: 3px solid;
    font-weight: bold;
    letter-spacing: $spacing;
  }
}