.Burger-logo {
    width: auto;
}
.Burger-log {
    width: 100px;
}
.Button-mesero {
    background: $red-logo;
    padding: 10px 15px;
    border-radius: 5px;
    border-style: none;
        a {
            text-decoration:none;
            color: $text-color;
            letter-spacing: $spacing;
            font-size: $font-button;
            &:hover {
                color: #5e0000;
            }
        }
        &:hover {
            background: $text-color;
        }

}