@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css';
body {
  min-height: 100vh;
  background: black;
}

.App, div {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  background-repeat: no-repeat;
  height: 40vmin;
  background-image: url("../img/logoBurger.png");
}

.Width-product {
  width: 100px;
  height: 100px;
}

.App-header {
  background-color: #e8ba00;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Flex {
  display: flex;
  justify-content: space-between;
}

.Flex-header {
  display: flex;
  background: #e8ba00;
}

.Scroll {
  overflow: scroll;
  text-align: center;
  height: 440px;
}
.Scroll div {
  width: 40%;
  height: 190px;
  display: inline-block;
  margin: 5px;
  border: 1px solid grey;
  vertical-align: text-bottom;
  text-align: -webkit-center;
  cursor: pointer;
}

table {
  margin-top: 15px;
}
table td th {
  text-align: left;
  vertical-align: top;
  border-collapse: collapse;
}
table i {
  color: #e8ba00;
  cursor: pointer;
}

.Order, .Status {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
}
.Order div, .Status div {
  display: flex;
  justify-content: space-around;
}

p {
  margin: 0;
}

.price {
  background: #cf1717;
  width: fit-content;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 50%;
}

.name {
  padding: 5px;
  font-size: 15px;
  height: 40px;
  color: #403938;
  font-weight: bold;
}

h2, label {
  color: white;
}

input {
  width: 50%;
  border-style: none;
  padding: 3px;
}

.menu {
  width: 50%;
  background: white;
}

th, thead tr td {
  border-bottom-style: ridge;
  font-weight: bold;
  font-size: smaller;
}

/* buttons */
.buttonApp {
  padding: 10px;
  background: #cf1717;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  cursor: pointer;
}
.buttonApp:active {
  background: black;
  color: white;
}

.Total {
  background: #cf1717;
  color: white;
  font-size: 30px;
  padding: 5px;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 50%;
  left: 0;
}

.Send {
  background: #e8ba00;
  color: black;
  font-size: 25px;
  padding: 5px;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 50%;
  right: 0;
  border-style: none;
  height: 50px;
  cursor: pointer;
}
.Send:not(:disabled):hover {
  background: #e8ba00;
  color: white;
  font-weight: bold;
}
.Send:disabled {
  background: #ddd;
}

.Status {
  display: inline-flex;
  margin: 10px;
  width: 47%;
  background: #393a40;
}
.Status h2 {
  margin: 30px 0 0px 0;
  color: #e8ba00;
}
.Status p {
  margin: 0 10px;
  width: fit-content;
}
.Status p span {
  color: #e8ba00;
  font-weight: 300;
}
.Status button {
  position: absolute;
  top: 0;
  background: #cf1717;
  border-style: none;
  color: white;
  padding: 8px;
}
.Status .tot {
  margin: 0;
  width: auto;
  padding: 5px;
  border-top: 3px solid;
  font-weight: bold;
  letter-spacing: 2px;
}

.Burger-logo {
  width: auto;
}

.Burger-log {
  width: 100px;
}

.Button-mesero {
  background: #cf1717;
  padding: 10px 15px;
  border-radius: 5px;
  border-style: none;
  margin-bottom: 10px;
}
.Button-mesero a {
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-size: 15px;
}
.Button-mesero a:hover {
  color: #5e0000;
}
.Button-mesero:hover {
  background: white;
}

.Nav {
  position: absolute;
  top: 0;
  right: 0;
}
.Nav ul {
  margin: 0;
  padding: 0;
}
.Nav ul li {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  height: 104px;
  display: inline-flex;
  align-items: center;
  color: white;
  letter-spacing: 2px;
  font-weight: 500;
}
.Nav ul li:hover {
  background: black;
}

.btn-nav {
  position: absolute;
  right: 10px;
  top: 40px;
  background: none;
  border-style: none;
}
.btn-nav a {
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-size: 15px;
  padding: 10px 15px;
  box-sizing: border-box;
  background: #cf1717;
  border-radius: 5px;
}

/*# sourceMappingURL=App.css.map */
